<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_group_listing_data_provider" xsi:type="string">
                    Common\Banner\Model\ResourceModel\Group\Grid\Collection
                </item>
                <item name="banner_item_listing_data_provider" xsi:type="string">
                    Common\Banner\Model\ResourceModel\Group\Item\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
